
@{
    Layout = null;
}

<h3> Mvc Kamp Tablo Örneği - Kategori</h3>
<br/>
<table>

    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td> 1 </td>
        <td> eğitim </td>
        <td> açıklama  </td>
        <td> true </td>
    </tr>
    <tr>
        <td> 2 </td>
        <td> Spor </td>
        <td> açıklama  </td>
        <td> false </td>
    </tr>
    
</table>