
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<div class="row" style="margin-top:20px">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            
            <div  class="inner" >
                <h2>Kategori Sayısı</h2>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class=" fas fa-chart-pie"></i>
            </div>

        </div>
        <div class="small-box bg-success">
            <div class="inner">
                <h2>Max Heading - Kategori</h2>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class=" fas fa-chart-pie"></i>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h2>Yazılım - Heading</h2>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class=" fas fa-chart-pie"></i>
            </div>

        </div>
        <div class="small-box bg-warning">
            <div class="inner">
                <h2>A ile Başlayan Yazar</h2>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class=" fas fa-chart-pie"></i>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h2>Aktif Pasif Kategori</h2>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class=" fas fa-chart-pie"></i>
            </div>

        </div>
       
    </div>
</div>